
{% block body %}
<div class="col-md-1">
        <img class="card" src="/images/profileImage.JPG" alt="profile image">
    </div>
<p>
    Anastasia Armstrong
(801)-556-2316                                     tazele@gmail.com                          Centerville UT 84014
SKILLS AND EXPERIENCE
●	UI/UX experience
●	Data normalization and standardization
●	Application Flow creation
●	Oracle experience

●	Windows User Configurations
●	Microsoft Office Products experience
●	Debugging projects and programs
●	Designing and building SQL databases

PROFESSIONAL EXPERIENCE
ICU Medical
Quality Assurance Inspection							7/23-9/23
 Salt Lake City UT 84123, 4455 Atherton Dr.
Filled and filed inspection paperwork both manually and digitally in Oracle for medical-grade injection molded IV components.  Reviewed and lead personnel to review potential nonconforming products and materials during manufacture to meet company specifications. Completed Non-Conformance Material Report (NCMR) releases from the material Review Board (MRB) cage.  Independently completed routine material compliance inspections and release of products to the next stage. Gathered and retrieved QA retain samples as required.

Laughing Peaks							                    5/25-Present
Jr UX/UI
Remote.
Work in a team developing the UI/UX for a POC web application. Develop possible web page UI/UX that receive public testing before going into production. Helped create a site flow diagram for future use. And once the UI examples are finished, help with Front End development of the application itself, using HTML, CSS, and Ruby on Rails.

EDUCATION
High School Diploma, Viewmont High School, Bountiful Utah. Degree in general studies. June 2019.
General Associates, Weber State University 2020.
Computer Science Associates, Weber State University 2023

CURRENT STUDIES
Computer Science Bachelor's Weber State University

LANGUAGES

●	SQL
●	HTML
●	C++
●	Python
●	CSS
●	C#
●	Java
●	.NET




References
DeeJay Laughbon (385)-220-4660  laughingpeaks@gmail.com  Owner and Team Lead for Laughing Peaks

</p>
{% endblock %}
